<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Noticias Nasa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    </head>

    <body>
        <div class="container my-2">
            <div class="card">
                <h1>Noticias de los 6 ultimos dias</h1>
                <div class="card-body">
                    <div th:switch="${listaNoticias}" class="container my-5">                        
                        <div class="col-md-10">
                            <h2 th:case="null">No record found !!</h2>
                            <div th:case="*">
                                <table class="table table-dark table-striped">                               
                                    <tbody>
                                        <tr th:each="NoticiasNasa : ${listaNoticias}">
                                            <td th:text="${NoticiasNasa.fecha}"> Fecha </td>
                                            <td th:text="${NoticiasNasa.titulo}"> Titulo </td>
                                            <td th:text="${NoticiasNasa.url}"> Url </td>    
                                            <td><button style="background-color: blue;display: block; width:80px; height:80px;margin:0 auto"><a href="/notcias0">Ir a la noticias</a></button></td> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>


</html>